body {
    /* all */
    /* margin: 0; */
    /* margin-top: 10px;
    margin-bottom: 20px; */
    /* top+bottom left+right */
    /* margin: 10px 5px; */
    /* top - right - bottom - left */
    /* margin: 10px 5px 3px 1px; */
    /* margin: 10px 5px 3px; */
    margin: unset;
    width: 100%;
    height: 100vh;
    background-image: url(https://cdnphoto.dantri.com.vn/COm1qksauO2sqAC-gVVI2DdH_1I=/thumb_w/1020/2023/01/24/khoa-hocdocx-1674520013659.png);
}
/* px em rem % */

div {
    width: 50px;
    height: 50px;
    /* margin: 10px; */
    /* padding: 10px; */
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 10px;
}

.test {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}
